.anno_button {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    margin: 2.0em 0 1.0em;
}

.create_anno {
    border: none;
    background-color: rgb(255, 150, 199);
    font-size: 16px;
    font-weight: bold;
    padding: 0.6em 0.5em;
    border-radius: 25px;
    cursor: pointer;
}

.anno_container {
    width: 75%;
    margin: 1.5em auto;
    border: 3px solid rgb(16, 139, 63);
    padding: 0.5em 1.5em;
    border-radius: 15px;
}

.header {
    text-align: left;
}

.sub_button {
    background: none !important;
    border: none;
    padding: 0 !important;
    font-size: 16px;
    text-decoration: none;
    color: rgb(44, 44, 255);
    cursor: pointer;
}

.sub_button:hover {
    text-decoration: none;
    color: rgb(135, 181, 44);
    cursor: pointer;
}

.creator {
    font-weight: bold;
}

/* 
Specific announcement
*/
#spec .container {
    width: 60%;
}

#spec .links {
    color: rgb(48, 107, 255);
    text-decoration: none;
}

#spec .create_container {
    width: fit-content;
    padding: 0.5em;
    border: 2px solid rgb(126, 183, 39);
}

#spec .datetime_container {
    width: fit-content;
    padding: 0.5em;
    border: 2px solid skyblue;
}

#spec .edit_container {
    width: fit-content;
    padding: 0.5em;
    border: 2px solid rgb(157, 78, 255);
    text-align: center;
}

#spec .header-and-button {
    display: flex;
    justify-content: space-between;
}

#spec .header-and-button h2 {
    width: fit-content;
}

#spec .header-and-button form {
    display: inline;
    margin: auto 0;
}

#spec .edit_button {
    font-size: 16px;
    font-weight: bold;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 8px;
    background-color: blanchedalmond;
    cursor: pointer;
}