@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

/* Default CSS File loaded on each page */
body {
    font-family: 'Mulish', sans-serif;
    margin: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.invis {
    display: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}