/* 
    directory.php
*/
.container {
    display: flex;
    justify-content: space-between;
}

.options {
    width: 48%;
    border: 3px solid saddlebrown;
    margin: 1.0em 0 0.25em;
    padding: 0.5em;
    border-radius: 10px;
}

.catalog_headers {
    text-align: center;
    font-size: 35px;
}

.catalog_desc {
    text-align: center;
}

.form_block {
    display: flex;
    justify-content: center;
}

.catalog_button {
    padding: 0.75em 1.25em;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid rgb(22, 25, 34);
    border-radius: 5px;
    background-color: rgb(46, 59, 34);
    color: white;
    cursor: pointer;
}

/* 
    memberCatalog.php
*/

#member .container {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    margin: 1.0em auto;
}

#member .member_block {
    width: 18%;
    padding: 0.5em;
    border: 2px solid seagreen;
}

#member button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0 auto;
    display: block;
    font-size: 23px;
}

#member .button_p {
    margin: 0;
}

#member button:hover {
    color: rgb(100, 200, 167);
}