/* 
    login.php 
*/
.form_container {
    margin: 2.0em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

form div {
    margin: 0.5em 0;
}

form .submit {
    width: 40%;
    margin: 0.25em 0;
    cursor: pointer;
}

.creation {
    margin-top: 2em;
}

.login {
    border: none;
    background-color: rgb(143, 181, 252);
    font-size: 16px;
    font-weight: bold;
    padding: 0.6em 0.5em;
    border-radius: 25px;
}

.register {
    border: none;
    background-color: rgb(100, 255, 162);
    font-size: 16px;
    font-weight: bold;
    padding: 0.6em 0.5em;
    border-radius: 25px;
}

.error {
    font-size: 20px;
    color: rgb(229, 0, 0);
    text-align: center;
    margin: 1.5em 0;
    font-weight: bold;
}

.success {
    font-size: 20px;
    color: rgb(45, 165, 45);
    text-align: center;
    margin: 1.5em auto;
    font-weight: bold;
    width: fit-content;
}

/* 
    terms.php 
*/
#terms.form_container {
    margin: 2.0em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

#terms form {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#terms form div {
    margin: 2.25em 0;
}

#terms form .submit {
    width: 50%;
    margin: 0.25em 0;
}

#terms .creation {
    margin-top: 2em;
}

#terms .doc {
    text-align: center;
}

#terms .denied {
    text-align: center;
    font-size: 20px;
    color: rgb(221, 0, 0);
    margin: 1.75em 0;
}

/* 
    createUser.php
*/
#user div h2 {
    font-size: 30px;
    text-align: center;
}

#user .sign_up {
    color: rgb(0, 96, 0);
    font-size: 20px;
    text-align: center;
}

/* 
    createMember.php
*/
#member div h2 {
    font-size: 30px;
    text-align: center;
}

#member .radio_container {
    width: fit-content;
    margin: 1.0em auto;
}

#member .sign_up {
    color: rgb(0, 96, 0);
    font-size: 20px;
    text-align: center;
}

/* 
    createEvent.php
*/
#event .headers {
    font-size: 16px;
    margin: 1.5em 0 0;
    text-align: center;
    font-weight: bold;
}

#event .details_box,
#event .title_box {
    width: 100%;
}


#event div h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0.5em;
}

#event .radio_container {
    width: fit-content;
    margin: 1.0em auto;
}

#event .evt {
    border: none;
    background-color: rgb(156, 195, 255);
    font-size: 16px;
    font-weight: bold;
    padding: 0.6em 0.5em;
    border-radius: 25px;
}

#event .complete {
    color: rgb(0, 96, 0);
    font-size: 20px;
    text-align: center;
}

#event textarea {
    font-size: 15px;
}

/* 
    createAnno.php
*/

#anno .headers {
    font-size: 16px;
    margin: 1.5em 0 0;
    text-align: center;
    font-weight: bold;
}

#anno .details_box {
    width: 100%;
}

#anno .title_box {
    width: 100%;
}

#anno div h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 0.5em;
}

#anno .radio_container {
    width: fit-content;
    margin: 1.0em auto;
}

#anno .evt {
    border: none;
    background-color: rgb(156, 195, 255);
    font-size: 16px;
    font-weight: bold;
    padding: 0.6em 0.5em;
    border-radius: 25px;
}

#anno .complete {
    color: rgb(0, 96, 0);
    font-size: 20px;
    text-align: center;
}

#anno .anno_divs {
    width: 100%;
}

#anno textarea {
    font-size: 15px;
}

#anno .inner_container {
    width: 65%;
}