.container {
    width: 50%;
}

h2 {
    text-align: center;
}

.active {
    color: rgb(0, 156, 0);
    font-weight: bold;
}

.inactive {
    color: rgb(198, 41, 41);
    font-weight: bold;
}

.normal {
    display: flex;
    justify-content: space-between;
}

.normal_info {
    width: 45%;
}

.admin_info {
    width: 45%;
    text-align: right;
}