.mid_container {
    width: 50%;
}

h2 {
    text-align: center;
    border-bottom: 3px solid goldenrod;
    padding-bottom: 0.5em;
}

.overall_container {
    display: flex;
    flex-flow: row;
}

.active {
    color: rgb(0, 156, 0);
    font-weight: bold;
}

.inactive {
    color: rgb(198, 41, 41);
    font-weight: bold;
}

.normal {
    display: flex;
    justify-content: space-between;
}

.normal_info {
    width: 45%;
    border-top: 3px solid rebeccapurple;
    border-right: 3px solid rebeccapurple;
}

.admin_info {
    width: 45%;
    text-align: right;
    border-top: 3px solid orangered;
    border-left: 3px solid orangered;
}

.edit_form {
    display: flex;
    margin: 0.5em 0 1.25em;
    justify-content: flex-end;
}

.edit_button {
    padding: 0.75em 1.25em;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid royalblue;
    border-radius: 5px;
    background-color: rgb(174, 255, 255);
    cursor: pointer;
}

/* 
    profile.php - Edit History
*/

.left_container,
.right_container {
    width: 25%;
}

.last_edit {
    margin: 0.75em 1.5em 0em;
}

#full_history {
    width: 80%;
    height: 200px;
    margin: 0.5em 1em 0em;
    padding: 0.25em 0.5em 0em;
    border: 3px solid navajowhite;
    overflow: scroll;
}

#view_single,
#view_full {
    margin: 0.5em 1em 1.0em;
    border: none;
    background-color: navajowhite;
    font-size: 18px;
    color: rgb(78, 78, 122);
    cursor: pointer;
}

/* 
    editProfile.php
*/
#edit .container {
    width: 60%;
}

#edit .input_blocks {
    margin: 1.5em 0;
}

#edit .note_area {
    font-size: 15px;
    width: 75%;
    border: 3px solid rgb(117, 117, 117);
}

#edit .note_area:focus {
    border: 3px dotted rgb(135, 197, 207);
}

#edit .admin_header {
    margin: 1.5em 0 0;
    padding: 0.25em 0 0 0.5em;
    border-top: 3px solid orangered;
    border-left: 3px solid orangered;
}

#edit .basic_header {
    margin: 1.5em 0 0;
    padding: 0.25em 0 0 0.5em;
    border-top: 3px solid rebeccapurple;
    border-left: 3px solid rebeccapurple;
}

#edit {
    margin-bottom: 5em;
}

#edit .radio_container {
    width: fit-content;
    margin: 0.5em auto;
}

#edit .radio_block {
    width: fit-content;
    margin: 0 auto;
}

#edit .edit_button {
    padding: 0.75em 1.25em;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid rgb(229, 133, 255);
    border-radius: 5px;
    background-color: rgb(231, 255, 174);
    cursor: pointer;
}

#edit h2 {
    border: none;
}

#edit input {
    border: none;
    border-bottom: 3px solid rgb(117, 117, 117);
    font-size: 15px;
}

#edit input[type="radio"] {
    width: 17px;
    height: 17px;
}

#edit input[type="text"]:focus,
#edit input[type="number"]:focus {
    border: 3px dotted rgb(135, 197, 207);
}

#edit .basic_section_one,
#edit .basic_section_two {
    width: 50%;
}

#edit .admin_section_one,
#edit .admin_section_two {
    width: 50%;
}

#edit .basic_container,
#edit .admin_container {
    display: flex;
    flex-flow: row wrap;
}

#edit .error {
    color: red;
    display: block;
    font-size: 12px;
}